* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

*:focus {
    outline: none;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.title {
    margin:0;
    padding-top: 7vh;
    margin-bottom: 15px;

    color: #333333;
    text-align: center;
    font-size: 2rem;
}

main {
    padding: 5vh 10px;
}

.btn-show-input {
    animation-name: color-change;
    animation-duration: 5s;
    /* animation-iteration-count: infinite;
    animation-direction: alternate; */
    animation-fill-mode: forwards;
}

@keyframes color-change {
    from{color:white;}
    to{color:tomato;}
}

.input-container {
    display: flex;
    justify-content: center;
}

.add-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height:30px;
    border-bottom: 1px solid #777777;
    color: black;
    text-align: center;
    transition: all ease 0.5s;
}

.btn:hover {
    cursor: pointer;
    border: none;
    color: white;
    background-color: tomato;
}

@keyframes slidein {
  from {width: 0px;}
  to {width: 360px;}
}

#task-input {
    height: 30px;
    padding: 0;
    padding-left: 10px;

    border: none;
    border-bottom: 1px solid #777777;
    background: none;

    animation-duration: 300ms;
    animation-name: slidein;
    animation-fill-mode: forwards;
}

#warning-msg {
    display: none;
    text-align: center;
    color: black;
}

.list-container {
    width: 400px;
    margin: auto;
    box-shadow: 5px 5px 5px lightgray;
    
}

ul {
    width: 400px;
    padding: 0;
    margin:auto;
    
    border-radius: 5px;
    list-style: none;
}

.list-title {
    text-align: center;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #333333;
    color: white;   
    font-weight: 400;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 20px;
    height: 50px;

    border-bottom: 1px solid #777777;
    transition: all ease 0.5s;
}

.task:hover {
    cursor: pointer;
    background-color: rgb(241, 241, 247);
}

.no-task {
    text-align: center;
    padding: 50px;
}

.task-text {
    flex-grow: 1;
    padding: 10px;
}

.fas {
    margin: 0 5px;
    color: #777777;
    font-size: 0.8rem;
}

.fas:hover {
    cursor: pointer;
    color: tomato;
}

.done > div {
    color: #777777;
    text-decoration: line-through rgb(231, 170, 178);
}